@import "variables";

@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "base";

*, :after, :before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
